In [ ]:
#!git clone https://github.com/B

**Introduction to Colab and Jupyther Notebooks**

While RStudio is pretty standard for R, python has a lot of different development environments that you can choose from. Here we will use Google Colab because all of you already have access to it through your student account. Keep in mind that when working in this notebook that you are not running the code using your local computer. This is being run on a server maintained by google. You by default can do this for free, but you can increase the resources you are using if you pay money. This will not be necessary in this class and in most situations you will find yourself in.
\
\
Jupyter notebooks are my preferred development environment, but there are many others including:\
Spyder: https://www.spyder-ide.org/ \
PyCharm: https://www.jetbrains.com/pycharm/ \
VS Studio: https://code.visualstudio.com/ \
And technically with RStudio, but this is not conventional
\
\
I do not really work with these often. The main thing that differentiates them from my experience is the formatting of the environment. Some allow you to code in chunks, some keep track of variables for you, etc.
\
\
Jupter notebooks can be accessed by: \
Downloadng Jupyter Directly: https://jupyter.org/ \
Using Anaconda: https://www.anaconda.com/ \
Or in colab like we are here, althought google colab has some slight differences from a typical jupyter notebook. \
\
If you look at the left side of the screen you can see some icons that are not typically in Jupyter notebooks. The {*X*} icon on the left allows you to look at all the objects that are in , similar to the top right corner of RStudio. There is also a folder icon that allows you to explore the file structure of the virtual machine we are using. Notice that the machine you are working on is pretty much empty except for a file filled with some example data. Finally, you can run code chunks by hovering over the number on the left and pressing on it when it turns into a play arrow. In a typical notebook you eihter have to click on the block and type command + enter (mac) or control + enter (windows). These shortcuts work here too. To run the entire chunk of code, select "Runtime" in the top bar of the webpage and select "Run All". From here you can also choose to "Run before" and "Run After", simlar to RStudio. The insert tab allows you to add new blocks for both code and text. You can use the edit tab to several things, but most importantly to delete cells, copy and paste cells, or cut and paste cells.


\
Before we dive into using python I just wanted to highlight that you can also use Jupyter Notebooks or Colab to run code on the command line using "!". I do not think this works in base python.

In [ ]:
print('_______________')
print('DISK INFORMATION')
print('_______________')
!df -h

# CPU info
print('_______________')
print('CPU INFORMATION')
print('_______________')
!cat /proc/cpuinfo

_______________
DISK INFORMATION
_______________
Filesystem      Size  Used Avail Use% Mounted on
overlay         108G   27G   82G  25% /
tmpfs            64M     0   64M   0% /dev
shm             5.8G     0  5.8G   0% /dev/shm
/dev/root       2.0G  1.1G  849M  57% /usr/sbin/docker-init
tmpfs           6.4G 1016K  6.4G   1% /var/colab
/dev/sda1        70G   43G   27G  62% /kaggle/input
tmpfs           6.4G     0  6.4G   0% /proc/acpi
tmpfs           6.4G     0  6.4G   0% /proc/scsi
tmpfs           6.4G     0  6.4G   0% /sys/firmware
drive           108G   31G   78G  29% /content/drive
_______________
CPU INFORMATION
_______________
processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2200.150
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed
bogomips	: 4400.30
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

processor	: 1
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2200.150
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 1
initial apicid	: 1
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed
bogomips	: 4400.30
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

In [ ]:
# prompts the command line to repeat the words "hello world" back to you
!echo "hello world"

hello world

In [ ]:
# shows current directory path
!pwd

/content

In [ ]:
# shows contents of the current directory
!ls

drive  sample_data

**Packages/Libraries** \
\
Similar to R, python has a variety of  packages. However they differ in the fact that you have to install them using the command line which I may have you do tomorrow.

In colab, there are several pre-downloaded packages that are very commonly used. Of these are:

NumPy - a package dedicated for using arrays. Very commonly used in data anlaysis, especially when you need it to be fast. https://numpy.org/ \
\
SciPy - a package that has a lot of statistical tools available. Also very commonly used for fitting models and performing optimizations. https://scipy.org/ \
\
Pandas - Package for working with dataframes. https://pandas.pydata.org/ \
\
Tensorflow and Pytorch - machine learning packages. https://www.tensorflow.org/ and https://pytorch.org/

You can load in some of these libraries by running the code block below. The general import command is: \
\
import package_name_here \
\
However you will notice that some of these are formated with an additional "as" statement like so: \
\
import numpy as np \
\
This is because when using a command in from a package you must refer to the package name when calling it. So, since typing out some of the names is really long people have decided on some standard abbreviations for the package names. You can in theory use whatever you want, but most of these commonly used packages have names that are convention at this point.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random

**Basic Object Types**

There are some fundamental types of objects in python that are intrinsic that I will go over here briefly. If you are ever unsure of what type an object has, you can use the type() function to figure it out.

The four most basic ones are booleans, integers, strings, and floats.

\
Integer - Numbers, but without decimals. Examples:\
x = 1 \
x = 2 \
x = 3 \
\
Floats - Numbers, but with decimals. Examples: \
x = 1.0 \
x = 2.5 \
x = 2/3 \
\
Strings - Words and characters. Can be demarked with double quotation marks (" ") or single quotation marks (' '). Examples: \
x = "1"\
x = "Hello world" \
x = '1.00001' \

\
Booleans - Binary variables. True or False. 0 = False and 1 = True. Examples: \
x = True\
x = bool(0)\
x = bool(1) \

\

You can also convert between these types using the functions int(), str(), and float(). Althought, there are some obvious limitations. ie Pretty much anything can be converted into a string (although it can be pretty ugly), but not every string can be converted into a float or an integer (unless you use some special commands to convert letters and symbols into numeric values).


A general rule of thumb is that each type has a strict set of character types it can take in:

strings: can take in any type of character

Floats: can take in any numeric type of data

Integers: can take in any rounded number (floats are rounded if you use the int() function to convert them into an integer.

Booleans: Can only be a 0 or 1 or the key words True or False.

In [ ]:
int_example = 1
print(type(int_example)) # the type function is like the class function in R
print(int_example)

<class 'int'>
1

In [ ]:
int_example = 1
type(int_example)
int_example

1

In [ ]:
float_example = 1.0
print(type(float_example))
print(float_example)

<class 'float'>
1.0

In [ ]:
float_example = 4.5e-7 # you can also use scientific notation using e
print(type(float_example))
print(float_example)

<class 'float'>
4.5e-07

In [ ]:
str_example = "1.0"
print(type(str_example))
print(str_example)

<class 'str'>
1.0

In [ ]:
str_example = '1.0' # you can use either single or double quotes to denote a string
print(type(str_example))
print(str_example)

In [ ]:
str2_example = "Example of using single quotations in a string: 'hi'"
print(type(str_example))
print(str_example)

<class 'str'>
Example of using single quotations in a string: 'hi'

In [ ]:
str_example = """1
2
3
4
5
""" # you can also do multi line strings using 3 quotations in a row
print(type(str_example))
print(str_example)

<class 'str'>
1
2
3
4
5

In [ ]:
str_example = "1\n2\n3\n4\n5" # however, be aware that \n is another way of encoding a line separation.
print(type(str_example))
print(str_example)
"1\n2\n3\n4\n5" # also, be aware that there is a difference between the print function outputs and raw outputs

<class 'str'>
1
2
3
4
5

'1\n2\n3\n4\n5'

In [ ]:
# formating strings to incorporate variables just got much easier
name = "name"
f"Hi my name is {name}"

'Hi my name is name'

In [ ]:
x = True
print(type(x))
x = 1
print(type(x))
x = bool(x)
print(type(x))
x = False
print(type(x))

<class 'bool'>
<class 'int'>
<class 'bool'>

**Arithmetic Operators**

Python has built in operators that allow you to do things with variables like add or subtract them. Arithmetic operators refers to the following operators:

addition +

subtraction -

multiplication *

division /

raise to power **

floored division //

modulo %

When using these functions with two variables of different types, you will most commonly get an error, but if not there is again a priority to the typing. If a string is involved the output will be a string. If you use a float and an integer together the output will be a float. If you use a boolean, the output will be whatever type the other variable is. Division always returns a float.

Evaluation of operators follows PEMDAS, so it is usually considered best practice to use parentheses to explicitly define the order in which you want an operation to occur, but just so you are aware, the order of operations goes:

First - **

Second - /, //, %, *

Third - +, -

In [ ]:
# Addition
print(2 + 2)
print(type(2 + 2))

4
<class 'int'>

In [ ]:
print(2 + 2.0)
print(type(2 + 2.0))

4.0
<class 'float'>

In [ ]:
# You can add strings too
print("2" + "2.0")
print(type("2" + "2.0"))

22.0
<class 'str'>

In [ ]:
# but not with other variable types
"2" + 2

TypeError: can only concatenate str (not "int") to str

In [ ]:
# Also, remember booleans do have a numeric value
print(2 + True)
print(type(2 + True))

3
<class 'int'>

In [ ]:
#Subtraction
print(2 - 2)
print(type(2 - 2))

0
<class 'int'>

In [ ]:
print(2 - 2.0)
print(type(2 - 2.0))

0.0
<class 'float'>

In [ ]:
# You cannot subtract strings though
print("2" - "2")

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
# Multiplication
print(2 * 2)
print(type(2 * 2))

4
<class 'int'>
22

In [ ]:
print(2 * 2.0)
print(type(2 * 2.0))

In [ ]:
# You can multiply strings, but only using integers
print("2" * 6)

222222

In [ ]:
# Division
print(2 / 2)
print(type(2 / 2)) # division will always output a float

1.0
<class 'float'>

In [ ]:
print(2 / 2.0)
print(type(2 / 2.0))

1.0
<class 'float'>

In [ ]:
# Exponents
print(2 ** 2)
print(type(2 ** 2))

4
<class 'int'>

In [ ]:
print(2 ** 2.0)
print(type(2 ** 2.0))

4.0
<class 'float'>

In [ ]:
print(2 ^ 2) # also ^ is not the same as an exponent
print(type(2 ^ 2))

0
<class 'int'>

In [ ]:
# Floored Division
print(2 // 2)
print(type(2 // 2))

1
<class 'int'>

In [ ]:
# Floored Division
print(2 // 2.3)
print(type(2 // 2.3))

0.0
<class 'float'>

In [ ]:
# Modulo
print(type(5%2))
print(5 % 2)

<class 'int'>
1

In [ ]:
print(type(5 % 2.3))
print(5 % 2.3)

<class 'float'>
0.40000000000000036

In [ ]:
# These operators follow PEMDAS
4 + 4 * 2**2

In [ ]:
# Parentheses makes things easier to follow especially as things get more complicated
( 4 + ( 4 * ( 2**(1 + 1) ) ) )

20

In [ ]:
# Finally, if you just want to update a value of a variable you can use the += notation

x = 5
print(x)
x += 2
print(x)

# this works for all arithmetic operators *=, -=, **=, etc.

5
7

**Relational Operators**

These are operators that take in variables and return a boolean output. These include:

is equal to ==

is not equal to !=

is greater than >

is greater than or equal to >=

is less than <

is less than or equal to <=

**Identity Operators**

This just refers to the key words is and is not which check if two objects share the same space in memory


**Logical Operators**

These are key words and, or, and not

and returns true only if both operands are true

or returns true if at least one operand is true

not negates whatever is being evaluated

In [ ]:
# Relational Operators
print(7 == 7)

print(7 != 7)

print(7 <= 7)

True
False
True

In [ ]:
print(7 <= 7)

print(7 <= 7.0)

print(7 == 7.0)

True
True
True

In [ ]:
# You can have multiple in a row

print(7 < 8 < 9 < 10)

True

In [ ]:

print(7 < 10 > 9 > 8) # you can use multiple of these together but it will make it more confusing to read

True

In [ ]:
print("Hello" == "hello") # Strings are case sensitive
print("hello" == 'hello') # again, "" is the same as '' when used to define strings

False
True

In [ ]:
# Identity Operators
a = 5
b = a
a is b

True

In [ ]:
a = 5
b = a
b = b + 1 # while performing an operation causes this to change identity, this is not always true
a is b

False

In [ ]:
a = 5.6
b = 5.6
a is b

False

In [ ]:
a = 5
b = 5
a is b # this was not an expected outpue

True

In [ ]:
# Logical Operators
print(True and True)
print(True and False)

True
False

In [ ]:
print(True or True)
print(True or False)

True
True

In [ ]:
print(not True)
print(not False)

False
True

**Conditionals**

This is how you tell the computer to make choices whether or not to run a specific section of code based on whether or not a condition is met. The basic format for this is an ifelse statement like this:

if something is true:

do task a

else:

do task b

In [ ]:
# Conditionals
x = 4
if x > 3:
  y = x * 3
  print(y)

else:
  print(x)

12

In [ ]:
x = 2
if x > 3:
  y = x * 3
  print(y)
else:
  print(x)

3

In [ ]:
x = 2
if x > 5:
  y = x * 3
  print(y)
elif x > 3: # elif is another layer you can add to ask the computer to evaluate before defaulting to the else statement
  print(x * 5)
else:
  print(x)

2

In [ ]:
x = 6
if x > 5:
  y = x * 3
  print(y)
elif x > 3:
  print(x * 5)
else:
  print(x)

18

In [ ]:
x = 4
if x > 5:
  y = x * 3
  print(y)
elif x > 3:
  print(x * 5)
else:
  print(x)

20

In [ ]:
x = 2
if x > 5:
  y = x * 3
  print(y)
elif x > 3:
  print(x * 5)
else:
  print(x)

2

**Higher Level Data Types** \
There are three common default higher level data types. They are tuples, lists, and dictionaries.

\
List - Deliminated by [ ]. These are mutable, have a defined order, and can contain objects of other types within them. Examples:\
x = [ 1 , 2 , 3 , 4 , 5] \
x = [ "Hello" , "World" , z , 1] \
x = [ [ ], [ 1 ] , [ "Hello", 1] ] \
\
Tuples - Deliminated by ( ). These are immutable, have a defined order, and can contain objects of other types within them. Examples:\
x = ( 1 , 2 , 3 , 4 , 5 ) \
x = ( "Hello" , "my" , z , 1 ) \
x = ( [ ], [ 1 ] , [ "Hello", 1] ) \
\
Dictionaries - Deliminated by { key : value }. These are mutable, have no defined order, and can contain objects of other types within them. Examples: \
x = {
"fruits" : ["banana", "apple", "orange"],
"vegetables" : ["broccoli", "squash", "carrot"] }

\

In [ ]:
# Manipulating data types
name = "name"
list1 = [ "Hello" , "world", "my", "name", "is", name ] # can also be specified by list( "Hello" , "World" )
print(list1)
print(list1[0]) # you can access the contents by indexing. In python the first element starts at 0.
print(list1[4])

['Hello', 'world', 'my', 'name', 'is', 'name']
Hello
is

In [ ]:
print(list1[0][0]) # you can also access sections of strings by indexing as well
print(list1[0][0:3]) # The basic format for indexing is [start:stop:step]
print(list1[0][:]) # To get all elements between two indexes we use ":"
print(list1[0][2:])
print(list1[1:4])  # This works for indexing lists too
print(list1[::2])  # by adding a second : you can specify a "step"
print(list1[::-1])  # you can even make it go backwards

H
Hel
Hello
llo
['world', 'my', 'name']
['Hello', 'my', 'is']
['name', 'is', 'name', 'my', 'world', 'Hello']

In [ ]:
list2 = list1
print(list2)
list2[3] = "whatever"
print(list2)
print(list1)

['Hello', 'world', 'my', 'name', 'is', 'name']
['Hello', 'world', 'my', 'whatever', 'is', 'name']
['Hello', 'world', 'my', 'whatever', 'is', 'name']

In [ ]:
list1 = [ "Hello" , "world", "my", "name", "is", name ]

In [ ]:
list2 = list1.copy() # to avoid this sort of overriding we need to make a copy. Many object types have this built in
print(list2)
list2[3] = "whatever"
print(list2)
print(list1)

['Hello', 'world', 'my', 'name', 'is', 'name']
['Hello', 'world', 'my', 'whatever', 'is', 'name']
['Hello', 'world', 'my', 'name', 'is', 'name']

In [ ]:
# Lists can also have operators in them
my_list_3 = [2+3, 5*3, 4**2]
print(my_list_3)

[5, 15, 16]

In [ ]:
# They can also be added together and multiplied like strings
print(my_list_3 * 3)
print(my_list_3 + my_list_3)

[5, 15, 16, 5, 15, 16, 5, 15, 16]
[5, 15, 16, 5, 15, 16]

In [ ]:
# I mentioned that you can pretty much go from anything to a string
# I am going to show you how you might convert a list into a string a few different ways and then go back
# The first way I am showing you is the worst
print(type(list1))
print(list1)
string1 = str(list1)
print(type(string1))
print(string1)

<class 'list'>
['Hello', 'world', 'my', 'name', 'is', 'name']
<class 'str'>
['Hello', 'world', 'my', 'name', 'is', 'name']

In [ ]:
# Further illustrating how the object has changed
print(list1[0])
print(string1[0])

Hello
[

In [ ]:
# To get this looking like a reasonable sentence we need to use what is called a method
# Methods are like functions that are intrinsically tied to the object type.
# This is based on an idea in programming called object oriented programming. We will not touch on this much.
new_string1 = string1.replace('[', '') # we can replace elements of a string using the .replace method
print(new_string1)
new_string1 = new_string1.replace(']', '')
print(new_string1)
new_string1 = new_string1.replace("'", '')
print(new_string1)
new_string1 = new_string1.replace(",", '')
print(new_string1)
print(new_string1.split(" ")) # and we can return it to a list using the .split method
print(type(list1))

'Hello', 'world', 'my', 'name', 'is', 'name']
'Hello', 'world', 'my', 'name', 'is', 'name'
Hello, world, my, name, is, name
Hello world my name is name
['Hello', 'world', 'my', 'name', 'is', 'name']
<class 'list'>

In [ ]:
# The easiest way to have done this though is using the join method. More string methods can be found using
# For more methods methods, look here https://www.w3schools.com/python/python_ref_list.asp
print(" ".join(list1))

Hello world my name is name

In [ ]:
# Some important methods associated with lists
list1 = [ "Hello", "world", "my", "name", "is", name ]
list1.append(".") # Append adds a new element to the last position in the list
print(list1)
x = list1.pop(1) # pop removes an element at a specified index, but also returns that element
print(list1)
print(x)
list1.remove("Hello") # remove removes the first element found with the specified value
print(list1)

['Hello', 'world', 'my', 'name', 'is', 'name', '.']
['Hello', 'my', 'name', 'is', 'name', '.']
world
['my', 'name', 'is', 'name', '.']

In [ ]:
# Dictionaries

mydict = { "fruits" : ["banana", "apple", "orange"], "vegetables" : ["broccoli", "squash", "carrot"] }

print(mydict)
print(mydict["fruits"])
print(mydict["fruits"][0])

{'fruits': ['banana', 'apple', 'orange'], 'vegetables': ['broccoli', 'squash', 'carrot']}
['banana', 'apple', 'orange']
banana

In [ ]:
# You can also make dictionaries using the dict function:
print(dict((('a', 6), ('b', 7), ('c', 27.6))))
print(dict(a='yes', b='no', c='maybe'))

{'a': 6, 'b': 7, 'c': 27.6}
{'a': 'yes', 'b': 'no', 'c': 'maybe'}

In [ ]:
# you can add new elements to a dictioary by just specifying a new key
mydict["breads"] = ["White", "Whole Wheat", "Multigrain" ]
mydict
print(mydict)
# you can update elements in a dictionary a similar way
mydict["vegetables"] = mydict["vegetables"] + ["corn" ]
print(mydict)

{'fruits': ['banana', 'apple', 'orange'], 'vegetables': ['broccoli', 'squash', 'carrot'], 'breads': ['White', 'Whole Wheat', 'Multigrain']}
{'fruits': ['banana', 'apple', 'orange'], 'vegetables': ['broccoli', 'squash', 'carrot', 'corn'], 'breads': ['White', 'Whole Wheat', 'Multigrain']}

In [ ]:
# These are some methods that are relatively useful
d = dict(a='yes', b='no', c='maybe')
print(d.keys())
print(d.get("a", "no key found"))
print(d.get("d", "no key found"))
print(d.values())
print(d.pop("c"))
print(d)

dict_keys(['a', 'b', 'c'])
yes
no key found
dict_values(['yes', 'no', 'maybe'])
maybe
{'a': 'yes', 'b': 'no'}

**Iteration**

There are many scenarios where we might want to perform the same function multiple times. Instead of having to explicitly define every single time you perform the operation, there are ways to tell the computer to iteratively perform them using loops.

There are two kinds of loops:

For loops will iterate over a certain object. It will iteratively move through every element in an object. For example, in a list it will move through every object in that list.
The basic format of a for loop is:

for x in list:

fun(x)

While loops continue as long as the operator returns a True value - keep in mind this can be problematic because if the condition is never reached the loop will never end. You can stop this by interrupting the runtime.

The basic format of a while loop is:

x = 0

while x < 3:

x = x + 1

In [ ]:
# Example
print(2)
print(4)
print(6)
print(8)
print(10)

In [ ]:
# to quickly get a list of numbers we can use the range function
# The format for using the range function is range(start,stop,step)
# range is equivalent to the seq function in R
# if you only put in one argument that argument will default as the stop argument
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# if you only put in two arguments in the first argument will default as the start argument the second will be the stop
for i in range(2,11):
  print(i)

2
3
4
5
6
7
8
9
10

In [ ]:
# to demonstrate how you could use the range function to get different values
# Putting in 3 values to define the beginning, end, and step of the range.
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [ ]:
for i in "apple": # you can also iterate through lists and tuples and strings
  print(i)

In [ ]:
for i in list1:
  print(i)

In [ ]:

# Lets say for example you want to multiply the value of every element of a list by 2

my_integers = [1, 2, 3, 4, 5]

my_integers[0] *= 2
my_integers[1] *= 2
my_integers[2] *= 2
my_integers[3] *= 2
my_integers[4] *= 2

my_integers

[2, 4, 6, 8, 10]

In [ ]:
my_integers = [1, 2, 3, 4, 5]

# we can instead make a for loop to edit every part of the list

for i in range(len(my_integers)):
    my_integers[i] *= 2

my_integers

[2, 4, 6, 8, 10]

In [ ]:
# there is also a special iteration formatting you can do just for lists to make new lists
# this is called list comprehension
# The basic format is [x for x in list]
my_integers = [1, 2, 3, 4, 5]
my_integers = [x * 2 for x in my_integers]
my_integers

[2, 4, 6, 8, 10]

In [ ]:
# While loops
# Continue until the operator evaluates as false

i = 2
while i < 10000:
  i *= 2
  print(i)

4
8
16
32
64
128
256
512
1024
2048
4096
8192
16384

In [ ]:
# make sure that your loops are not infinite loops
i = 10
while i < 0:
  i *= 2
  print(i)

In [ ]:
# You can also combine many of the features above into nested lists and operations

seq = 'GACAGACUCCAUGCACGUGGGUAUGUGUC'

# Initialize GC counter
n_gc = 0

# Loop through sequence and count G's and C's
for base in seq:
    if base == 'G' or base == 'C':
        n_gc += 1
n_gc

16

In [ ]:
# Another way you might achieve the same output in a different manner
seq = 'GACAGACUCCAUGCACGUGGGUAUGUGUC'
seq = list(seq)
print(seq)
seq = [1 for base in seq if base == "G" or base == "C"]
print(seq)
print(sum(seq))

['G', 'A', 'C', 'A', 'G', 'A', 'C', 'U', 'C', 'C', 'A', 'U', 'G', 'C', 'A', 'C', 'G', 'U', 'G', 'G', 'G', 'U', 'A', 'U', 'G', 'U', 'G', 'U', 'C']
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
16

In [ ]:
# Another way you might achieve the same output in a different manner
seq = 'GACAGACUCCAUGCACGUGGGUAUGUGUC'
seq = seq.replace('A', '')
seq = seq.replace('U', '')
len(seq)

16

In [ ]:
# Additionally you can use the key words continue or break to add more complexity to your code
# Break tells the loop that you are in to terminate while continue tells the loop to move to the next iterable

In [ ]:
# You can also combine many of the features above into nested lists and operations

seq = 'GACAGACUCCAUGCACGUGGGUAUCUGUC'

# Loop through sequence and count G's and C's
for i in range(len(seq)):
    codon = seq[i:i+3]
    if codon == "AUG":
        start_codon = i
        break
start_codon

10

In [ ]:
nums = [1,2,3.1,4.3,5.9,6,7]

for i in range(len(nums)):
  if type(nums[i]) == int:
    continue
  else:
    nums[i] = int(nums[i])
nums

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# functions
# In python you can define your own functions like this:
def plus_2(x):
  """prints 2 plus the input number x"""
  print(x + 2)
help(plus_2)

Help on function plus_2 in module __main__:

plus_2(x)
    prints 2 plus the input number x

In [ ]:
number = 2
plus_2(number)

4

In [ ]:
x = plus_2(number)
print(x)

4

In [ ]:
# if you want to make a function that gives you an output that you can assign to a variable you need to use return
def plus_2(x):
  """Adds 2 to the input number x and then returns that value"""
  return x + 2

In [ ]:
x = plus_2(number)
print(x)

4

In [ ]:
x = plus_2("2")
print(x)

TypeError: can only concatenate str (not "int") to str

In [ ]:
def plus_2(x):
  """Adds 2 to the input number x and then returns that value
  x must be an integer or a float
  """
  if type(x) == str:
      print("Error, input must be a integer or float")
      return
  return x + 2

In [ ]:
x = plus_2("2")
print(x)

Error, input must be a integer or float
None

In [ ]:
def plus_y(x, y):
  """Adds y to the input number x and then returns that value
  x and y must be an integer or a float
  """
  if type(x) == str or type(y) == str:
      print("Error, both inputs must be integers and/or floats")
      return
  return x + y

In [ ]:
x = plus_y(3, 3)
print(x)

6

In [ ]:
x = plus_y(y = 3, x = 3)
print(x)

6

In [ ]:
def plus_y(x, y):
  """Adds y to the input number x and then returns that value
  x and y must be an integer or a float
  """
  if type(x) == str or type(y) == str:
      print("Error, both inputs must be integers and/or floats")
      return
  return x + y, y

In [ ]:
x = plus_y(y = 3, x = 3) # if you have multiple outputs it will return them as a tuple
print(x)

(6, 3)

In [ ]:
z,a = plus_y(y = 3, x = 3) # you can "unpack" them by assigning it to multiple variables at once
print(z)
print(a)

6
3

**Reading and Writing Files**

Note, there are much easier ways to do this with some special functions in packages. For example, you can easily save any pandas data frame using the df.to_csv() function. What you are seeing here, however is the default way to manipulate files in python.


This is achieved using a "with open as" statement:

the basic format is

with open(filename, mode) as f:

the variable mode can be "r", "w", "r+", or "a" which stand for:

"r" - open file for reading only

"w" - writing only, if the file does not exist it will create one. if the file exists, it will delete what was in it.

"r+" - reading or writing, allows you to write in a file that is already created. starts at beginning of the file

"a" - Open for reading and writing.  The file is created if it does not exist.  The stream is positioned at the end of the file.

here, we will mainly use w.

However this is how you would obtain the contents of a file

with open(filename, r) as f:

f_string = f.read()

with open(filename, r) as f:

f_list = f.readlines()


This is how you would write in the contents of a file

with open(filename, w) as f:

f.write(string)

f.write(string)

f.write(string)

In [106]:
with open(r'codon_table.csv', 'r') as f:
  f_list = f.readlines()
f_list

['UCA,S\n',
 'UCC,S\n',
 'UCG,S\n',
 'UCU,S\n',
 'UUC,F\n',
 'UUU,F\n',
 'UUA,L\n',
 'UUG,L\n',
 'UAC,Y\n',
 'UAU,Y\n',
 'UAA,*\n',
 'UAG,*\n',
 'UGC,C\n',
 'UGU,C\n',
 'UGA,*\n',
 'UGG,W\n',
 'CUA,L\n',
 'CUC,L\n',
 'CUG,L\n',
 'CUU,L\n',
 'CCA,P\n',
 'CCC,P\n',
 'CCG,P\n',
 'CCU,P\n',
 'CAC,H\n',
 'CAU,H\n',
 'CAA,Q\n',
 'CAG,Q\n',
 'CGA,R\n',
 'CGC,R\n',
 'CGG,R\n',
 'CGU,R\n',
 'AUA,I\n',
 'AUC,I\n',
 'AUU,I\n',
 'AUG,M\n',
 'ACA,T\n',
 'ACC,T\n',
 'ACG,T\n',
 'ACU,T\n',
 'AAC,N\n',
 'AAU,N\n',
 'AAA,K\n',
 'AAG,K\n',
 'AGC,S\n',
 'AGU,S\n',
 'AGA,R\n',
 'AGG,R\n',
 'GUA,V\n',
 'GUC,V\n',
 'GUG,V\n',
 'GUU,V\n',
 'GCA,A\n',
 'GCC,A\n',
 'GCG,A\n',
 'GCU,A\n',
 'GAC,D\n',
 'GAU,D\n',
 'GAA,E\n',
 'GAG,E\n',
 'GGA,G\n',
 'GGC,G\n',
 'GGG,G\n',
 'GGU,G']

In [117]:
# reading in files
with open('codon_table.csv', 'r') as f:
  f_str = f.read()
f_str

'UCA,S\nUCC,S\nUCG,S\nUCU,S\nUUC,F\nUUU,F\nUUA,L\nUUG,L\nUAC,Y\nUAU,Y\nUAA,*\nUAG,*\nUGC,C\nUGU,C\nUGA,*\nUGG,W\nCUA,L\nCUC,L\nCUG,L\nCUU,L\nCCA,P\nCCC,P\nCCG,P\nCCU,P\nCAC,H\nCAU,H\nCAA,Q\nCAG,Q\nCGA,R\nCGC,R\nCGG,R\nCGU,R\nAUA,I\nAUC,I\nAUU,I\nAUG,M\nACA,T\nACC,T\nACG,T\nACU,T\nAAC,N\nAAU,N\nAAA,K\nAAG,K\nAGC,S\nAGU,S\nAGA,R\nAGG,R\nGUA,V\nGUC,V\nGUG,V\nGUU,V\nGCA,A\nGCC,A\nGCG,A\nGCU,A\nGAC,D\nGAU,D\nGAA,E\nGAG,E\nGGA,G\nGGC,G\nGGG,G\nGGU,G'

In [119]:
f_list = f_str.split("\n")
f_list = [x.split(",") for x in f_list]
f_list

[['UCA', 'S'],
 ['UCC', 'S'],
 ['UCG', 'S'],
 ['UCU', 'S'],
 ['UUC', 'F'],
 ['UUU', 'F'],
 ['UUA', 'L'],
 ['UUG', 'L'],
 ['UAC', 'Y'],
 ['UAU', 'Y'],
 ['UAA', '*'],
 ['UAG', '*'],
 ['UGC', 'C'],
 ['UGU', 'C'],
 ['UGA', '*'],
 ['UGG', 'W'],
 ['CUA', 'L'],
 ['CUC', 'L'],
 ['CUG', 'L'],
 ['CUU', 'L'],
 ['CCA', 'P'],
 ['CCC', 'P'],
 ['CCG', 'P'],
 ['CCU', 'P'],
 ['CAC', 'H'],
 ['CAU', 'H'],
 ['CAA', 'Q'],
 ['CAG', 'Q'],
 ['CGA', 'R'],
 ['CGC', 'R'],
 ['CGG', 'R'],
 ['CGU', 'R'],
 ['AUA', 'I'],
 ['AUC', 'I'],
 ['AUU', 'I'],
 ['AUG', 'M'],
 ['ACA', 'T'],
 ['ACC', 'T'],
 ['ACG', 'T'],
 ['ACU', 'T'],
 ['AAC', 'N'],
 ['AAU', 'N'],
 ['AAA', 'K'],
 ['AAG', 'K'],
 ['AGC', 'S'],
 ['AGU', 'S'],
 ['AGA', 'R'],
 ['AGG', 'R'],
 ['GUA', 'V'],
 ['GUC', 'V'],
 ['GUG', 'V'],
 ['GUU', 'V'],
 ['GCA', 'A'],
 ['GCC', 'A'],
 ['GCG', 'A'],
 ['GCU', 'A'],
 ['GAC', 'D'],
 ['GAU', 'D'],
 ['GAA', 'E'],
 ['GAG', 'E'],
 ['GGA', 'G'],
 ['GGC', 'G'],
 ['GGG', 'G'],
 ['GGU', 'G']]

In [122]:
# Applications: Translating an amino acid
codontab = dict(f_list)
codontab

{'UCA': 'S',
 'UCC': 'S',
 'UCG': 'S',
 'UCU': 'S',
 'UUC': 'F',
 'UUU': 'F',
 'UUA': 'L',
 'UUG': 'L',
 'UAC': 'Y',
 'UAU': 'Y',
 'UAA': '*',
 'UAG': '*',
 'UGC': 'C',
 'UGU': 'C',
 'UGA': '*',
 'UGG': 'W',
 'CUA': 'L',
 'CUC': 'L',
 'CUG': 'L',
 'CUU': 'L',
 'CCA': 'P',
 'CCC': 'P',
 'CCG': 'P',
 'CCU': 'P',
 'CAC': 'H',
 'CAU': 'H',
 'CAA': 'Q',
 'CAG': 'Q',
 'CGA': 'R',
 'CGC': 'R',
 'CGG': 'R',
 'CGU': 'R',
 'AUA': 'I',
 'AUC': 'I',
 'AUU': 'I',
 'AUG': 'M',
 'ACA': 'T',
 'ACC': 'T',
 'ACG': 'T',
 'ACU': 'T',
 'AAC': 'N',
 'AAU': 'N',
 'AAA': 'K',
 'AAG': 'K',
 'AGC': 'S',
 'AGU': 'S',
 'AGA': 'R',
 'AGG': 'R',
 'GUA': 'V',
 'GUC': 'V',
 'GUG': 'V',
 'GUU': 'V',
 'GCA': 'A',
 'GCC': 'A',
 'GCG': 'A',
 'GCU': 'A',
 'GAC': 'D',
 'GAU': 'D',
 'GAA': 'E',
 'GAG': 'E',
 'GGA': 'G',
 'GGC': 'G',
 'GGG': 'G',
 'GGU': 'G'}

In [130]:
# This is the template strand for GAPDH in Mus Musculus. https://www.ncbi.nlm.nih.gov/nuccore/66364569
with open('gapdh.fasta', 'r') as f:
  f_str = f.read()
f_str

'>mm_GAPDH_template_strand\nGGTGGGTGCGCGCTTTTTGTGGTTTCGGGTGGGGGGCTCCCTGGCCCCTCCTGTTTTTGGGGGTCTGGGTGGTTGTGGGGGTGCTCGTGTTGGGGGCCGGTTGGGTGGGCCTCTCTTGCTCGTGTCCTTGCTGGGGTGGGTGGTCCGGGTTTCTTCTCCTTGGGGCCTGTGGCCTGGGTCCCCCCCTGTTGCTGTGCCGTTTCTTGTCTCCGGTGGCTTGCGTTGTCTTGGGCTGCCGCCCCGGCTCGGGTGGGGTGGGGTTGCTGTTGGTCGCGGGCCCTGGTCCTCGTGTGCCCGTGCCCTTCGTGGGCCCTCGTGCCTGCTTCCCTTCTCGGCCTTGCTGTGCCGTTGTTTGCCGTGGTGGGTCTCTGGCTGTGCCTGTGTTGGGTCTGGGGGTCGTTGTGGCCTCTCCCTTTGCCCTGCTGGCGCCCTGGTGCCGGCGCCCTCGGCCTCCGTTCCCCGCCTTCCCTTTTGTCCCTCGTGCC'

In [ ]:
translated_seq = ""
for i in range(0,len(mRNA_Seq),3):
  aa = codontab[mRNA_Seq[i:i+3]]
  translated_seq += aa
print(translated_seq)
## but the protein sequence for GAPDG is:
## MVKVGVNGFGRIGRLVTRAAICSGKVEIVAINDPFIDLNYMVYMFQYDSTHGKFNGTVKAENGKQASEGPLKGILGYTEDQVVSCDFNSNSHSSTFDAGAGIALNDNFVKLISWYDNEYGYSNRVVDLMAYMASKE

GTRDKMVKVGVNGFGRIGRLVTRAAICSGKVEIVAINDPFIDLNYMVYMFQYDSTHGKFNGTVKAENGKQASEGPLKGILGYTEDQVVSCDFNSNSHSSTFDAGAGIALNDNFVKLISWYDNEYGYSNRVVDLMAYMASKE*ETLDHPPQQGH*AREALSQLGPQH*ASPSQFPSQTPIITGGA*GALPTLLNTINKVRCTHQKKKKKKKK

In [ ]:
https://rosalind.info/problems/list-view/

In [ ]:
## Homework Questions
#1. Convert this into a loop
# load in the GAPDH template strant
# calculate the GC content of the strant
# create a function that takes in a dna sequence and finds the reverse compliment of it
# Convert the GAPDH template strand to the coding strand
# convert to mRNA
# Translate the mRNA (To be explicit, make a function that finds the start codon (AUG), then translates the protein until a stop codon is reached.
# stop is denoted as "*" in the file
# Go to this website and select 2 problems and complete them https://rosalind.info/problems/list-view/